<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HAGZ</title>
    <link rel="stylesheet" href="../static/Css/homepage.css" />
  </head>
  <body>
    <div class="home">
      <div class="container">
        <div    style="display: flex; justify-content: center; align-items: center;">

          <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 

    <dotlottie-player src="https://lottie.host/d098121f-e967-4ba7-b53e-e069d72f55d1/r9wHmpoe5T.json" background="transparent" speed="1" style="width: 200px;" loop autoplay></dotlottie-player>
        </div>
        <h1>Book Your Football Field</h1>
        <p>Reserve a field for your next game!</p>
        <div class="buttons">
          <a href="register" class="btn">Sign Up</a>
          <a href="signin" class="btn">Login</a>
        </div>
      </div>
    </div>
  </body>
</html>