<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="../static/Css/register.css" />
  </head>
  <body>
    {% if message %}
    <div class="message">
      <p>{{ message }}</p>
    </div>
    {% endif %}
    <div class="container">
      <h2>Sign Up</h2>
      <form class="form" method="POST" action="/add_user">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            required
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            required
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            regex = "^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
            required
          />
          <p id="message"></p>
        </div>
        <div class="form-group">
          <label for="confirm-password">Confirm Password</label>
          <input
            type="password"
            class="form-control"
            id="confirm-password"
            name="confirm-password"
            required
          />
        </div>
        <div class="form-group user-type">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="userType"
              id="admin"
              value="admin"
              required
            />
            <label class="form-check-label" for="admin">Admin</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="userType"
              id="player"
              value="player"
            />
            <label class="form-check-label" for="player">Player</label>
          </div>
        </div>
        <button type="submit" class="btn">Register</button>
      </form>
      <p class="account-link">
        Already have an account? <a href="/signin">Log in here</a>.
      </p>
    </div>
    <script>
      document.getElementById("form").addEventListener("submit", function (e) {
        e.preventDefault();
        console.log(document.getElementById("form"))
        let password = document.getElementById("password").value;
        let passwordPattern =
          /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{8,}$/;

        if (passwordPattern.test(password)) {
          document.getElementById("message").innerText = "Password is valid!";
        } else {
          document.getElementById("message").innerText =
            "Password is invalid! It must be at least 8 characters long, and include uppercase, lowercase, digit, and special character.";
        }
      });
    </script>
  </body>
</html>
